@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Base */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.none {
    display: none !important;
}

/* Header */
.header {
    position: relative;
    overflow: hidden;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom-right-radius: 100px;
    /* background: #252525 linear-gradient(158deg, #2f2f2f 0%, #202020 100%); */
    background-color: #000;
    color: #fff;
    height: 80vh;
}
.header .container {
    position: relative;
    z-index: 9;
}
.header-video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-bottom-right-radius: 100px;
    opacity: 0.5;
}
.header-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 60px;
}
.header-img {
    border-radius: 80px;
}
.header-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 60px;
}
.header-text {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 300;
}
.header-btns {
    display: flex;
    column-gap: 20px;
}
.btn {
    height: 48px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #000000;
    border-radius: 8px;
    color: #fff;
    line-height: 1;
    transition: all 0.2s ease-in;
}
.btn:hover {
    background-color: #1782CF;
}
.btn-outline {
    height: 48px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;

    border: 1px solid #3B3B3B;
    border-radius: 8px;

    color: #fff;
    line-height: 1;

    transition: all 0.2s ease-in;
}

.btn-outline:hover {
    border-color: #1782CF;
}

/* Portfolio */

.portfolio {
    padding: 80px 0;
}
.portfolio-title {
    margin-bottom: 65px;
    font-size: 52px;
    font-weight: 700;
    text-align: center;
}
.projects {
    display: flex;
    flex-direction: column;
    row-gap: 70px;
    align-items: center;
}
.project {
    text-align: center;
}
.project-img {
    margin-bottom: 30px;
    border-radius: 30px;

    transition: opacity 0.2s ease-in;
}
.project-img:hover {
    opacity: 0.8;
}
.project-title {
    font-size: 22px;
}
.project-title a {
    color: #000;
    text-decoration: underline;
}
.description-title {
    font-size: 18px;
    color: #007aff;
    opacity: .8;
    margin-bottom: 1.2rem;
}
.description-list {
    margin-bottom: 20px;
}
.description-list li {
    font-size: 14px;
    line-height: 1.8rem;
}

/* Contacts */

.contacts {
    padding: 80px 0;
    border-top-left-radius: 100px;
    background-color: #252525;
    color: #fff;
}

.contacts-title {
    margin-bottom: 65px;
    font-size: 52px;
    font-weight: 700;
    text-align: center;
}
.contacts-text {
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.8rem;
}

.messangers {
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
    row-gap: 30px;
}

.messanger {
    flex-grow: 1;

    display: flex;
    column-gap: 15px;
    align-items: center;

    padding: 46px 20px;
    border-radius: 20px;
    border: 1px solid #363636;

    color: #fff;
    font-size: 20px;

    transition: background-color 0.2s ease-in;
}

.messanger:hover {
    background-color: #1E1E1E;
}

/* Footer */

.footer {
    padding: 30px 0;
    background-color: #1E1E1E;

    color: #5D5D5D;
}

.footer a {
    color: #5886A8;
}

.footer-inner {
    font-size: 14px;
    text-align: center;
}

.footer-inner p+p {
    margin-top: 15px;
}

/* Inner Page */

.inner-page {
    padding: 80px 0 40px;
}

.inner-page-details {
    text-align: center;
}

.inner-page-title {
    margin-bottom: 25px;

    font-size: 32px;
    font-weight: 700;
}

.inner-page-text {
    margin: 0 auto 40px;
    max-width: 570px;
    color: #555555;
    line-height: 1.5;
}

.inner-page-text p+p {
    margin-top: 25px;
}

.inner-page-link {
    color: #000000;
}

.inner-page-link a {
    color: #007aff;
    position: relative;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 600;

}


.inner-page-img {
    display: block;
    margin: 0 auto 40px;
}

.inner-page-backlink {
    margin: 0 auto;
    max-width: 770px;
    padding: 30px;

    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;

    background-color: #F1F1F1;
    color: #000;
}



/* Стили для табов */
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: -30px;
}

.tab {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    background-color: #f0f0f0;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.tab.active {
    background-color: #1E1E1E;
    color: #f0f0f0;
}

.tab:hover {
    background-color: #1E1E1E;
    color: #f0f0f0;
}

.project-tag {
    font-size: 0.9em;
    margin-top: 10px;
    color: gray;
}

/* preloader */

.preloader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1E1E1E;
    z-index: 1000;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 3px solid rgb(108, 146, 250);
    border-top: 3px solid #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .loading-text {
    font-size: 1.5em;
    color: #fff;
  }
  .loading-percent {
    font-size: 1.5em;
    color: #fff;
  }
  
  .dots {
    display: inline-block;
  }
  
  .dots span {
    display: inline-block;
    animation: bounce 1.5s infinite ease-in-out both;
  }
  
  .dots span:nth-child(1) {
    animation-delay: 0s;
  }
  
  .dots span:nth-child(2) {
    animation-delay: 0.3s;
  }
  
  .dots span:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  @keyframes bounce {
    0%, 80%, 100% {
      transform: scale(0);
    }
    40% {
      transform: scale(1);
    }
  }
  
  
  .warning-message {
    color: #f80000;
    font-size: 14px;
  }
  .project-btn {
    background-color: #252525;
    border-radius: 8px;
    color: #fff;
    margin-top: 20px;
    padding: 8px 10px;
  }


  /* contact form */

.contact-form-block {
    max-width: 600px;
    width: 100%;
    margin: 0 auto 40px;
}

.form-group {
    margin-bottom: 15px;
}
.form-button {
    background-color: #007aff;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    margin: 0 auto;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #66afe9;
    outline: none;
}




